/* styles.css */
body {
    background-color: #000000;
    font-family: Libre Baskerville;
}

h1 {
    text-align: center;
}

p {
    color: #f3f3f3;
    font-size: 20px;
    line-height: 1.25;
}

a, a:visited {
	color: #157493;
	text-decoration: none;
}

.modal-trigger {
    color: #0066cc;
    text-decoration: none;
    cursor: pointer;
    margin: -3px;
    margin-right:0px;
}

dialog {
    position: fixed;
    top:0px;
    margin:0;
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header h2 {
	margin-top:0;
}

.p1 {
	margin-top:-16px;
	margin-bottom:-6px;
	color: #000000;
	font-size: 16px;
}
